.analysis-section {
    position: relative;
    line-height: 1;
    margin-bottom: 15px;
}

.analysis-area-content span {
    font-size: 14px;
    color: #2babe3;
    font-weight: 500;
    text-transform: uppercase
}

.analysis-area-content h3 {
    font-size: 38px;
    color: #202647;
    font-weight: 700;
    margin: 10px 0 25px;
    position: relative;
    padding-bottom: 20px
}

.analysis-area-content h3:before {
    position: absolute;
    content: "";
    height: 3px;
    width: 80px;
    background-color: #fab4a2;
    bottom: 0;
    left: 0
}

.analysis-area-content h3:after {
    position: absolute;
    content: "";
    height: 3px;
    width: 32px;
    background-color: #ff724e;
    bottom: 0;
    margin: 0 auto;
    left: 95px
}

.analysis-area-content strong {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px
}

.contactForm {
    margin-top: 20px
}

.contactForm .form-group {
    margin-bottom: 20px
}

.contactForm .form-group .form-control {
    height: 55px;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border: none;
    border-bottom: 1px solid #dbdbdc;
    border-radius: unset;
    padding: 0 0 14px;
    font-size: 14px;
    color: #9a9b9f;
    font-weight: 400
}

.contactForm .form-group .form-control:focus {
    background-color: #fff;
    border-color: #2babe3;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.contactForm .send-btn {
    margin-top: 14px
}